body{
  padding: 4rem;
  background-color: gray;
}

h1{
  text-align: center;
}

.Grid {
  display: flex;
  flex-direction: column;
}

.Row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.Full{
  flex-grow: 6;
  border: 1px solid red;
  margin: 0.5rem;
}

.Half{
  margin: 0.5rem;
  flex-grow: 3;
  border: 1px solid red;
}

.Third{
  flex: 2;
  margin: 0.5rem;
}
